* {
  box-sizing: border-box;
  margin: 0;

}

header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content:space-between;
  align-items: center;
}

header section {
  display: flex;

}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  width: 100%;
}

main section {
  display: flex;
  ;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-flow: column;
  border: 2px solid black;
}

#trybewarts-forms-logo {
  height: 500px;
}

.menu-check {
  display: flex;
  flex-flow: column;
  width: 200px;
}

#rate {
  display: flex;
}

textarea {
  resize: none;
  width: 100%;
}